* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
      display: flex;
      align-items: center;
      
      height: 150vh;
  }
  main {
    
    border: 4px solid;
    padding-top: 14px;
    padding-bottom: 50px;
      margin: auto;
  position: relative;
  }
  main::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #175878;
  }
  
  h1 {
      color: #e32e22;
      text-align: center;
      font-size: 26px;
      margin-bottom: 24px;
  }
  
  /* Table Styles */
  
  .table-wrapper {
    font-family: system-ui;
  }
  
  .fl-table {
      border-radius: 5px;
      font-size: 10px;
      line-height: 13px;
  
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      white-space: nowrap;
     
          
  }
  
  .fl-table td, .fl-table th {
      text-align: center;
      padding: 0px;
  }
  
  .fl-table td {
    background: rgb(94,156,199);
    background: linear-gradient(180deg, rgba(94,156,199,1) 37%, rgba(0, 0, 0, 0.979) 110%);
      font-size: 12px;
      height: 34px;
      white-space: initial;
      line-height: 24px;
      font-weight: bold;
      font-size: 16px;
      color: #fde270;
    }
  
    thead{
        background: rgb(94,156,199);
background: linear-gradient(180deg, rgba(94,156,199,1) 37%, rgba(0,0,0,1) 95%);
    }
    .fl-table thead th {
      color: #fde270;
      background: #0d384a;
      white-space: pre-wrap;
      font-family: system-ui;
      font-size: 18px;
      line-height: 20px;
      font-weight: 900;
      background: rgb(94,156,199);
      background: linear-gradient(180deg, rgba(94,156,199,1) 37%, rgba(0,0,0,0.7861519607843137) 100%);
  }
  
  .border-n th{
    border: none;
  }
  
  
  .dark th{
    background: rgb(94,156,199);
      background: linear-gradient(180deg, rgba(94,156,199,1) 2%, rgba(0,0,0,1) 95%) !important;
  }
  table {
      border-collapse: collapse;
      border-bottom: 1px solid black;
    }
    th, td {
      border: 1px solid black;
      padding: 5px;
    }
    
  .table{
      position: relative;
  }
  .red{
    color: #fde270;
  }