* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 150vh;
}
  main {
    
    border: 4px solid;
    padding-top: 14px;
    padding-bottom: 50px;
      margin: auto;
  position: relative;
  }
  
  .color2{
    color: #175878;
  }
  h1 {
      color: red;
      text-align: center;
      font-size: 26px;
      margin-bottom: 16px;
  }
  
  /* Table Styles */
  
  .table-wrapper {
    font-family: system-ui;
  }
  
  .fl-table {
      border-radius: 5px;
      font-size: 10px;
      line-height: 13px;
      border: 2px solid;
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      white-space: nowrap;
      background-color: white;
  }
  
  .fl-table td, .fl-table th {
      text-align: center;
      padding: 0px;
  }
  
  .fl-table td {
    border-left: none;
      font-size: 12px;
      height: 40px;
      border-color: #dfdbdb;
      white-space: initial;
      line-height: 24px;
      font-weight: bold;
      font-size: 14px;
    }
  
  
    .fl-table thead th {
     
      white-space: pre-wrap;
      font-family: system-ui;
      font-size: 16px;
      line-height: 20px;
      
  }
  
   .fl-table tr:nth-child(odd) {
    background-color: #efefef;
    border-bottom: 2px solid #7f807f;
   
}
.three .fl-table tr:nth-child(odd) {
  background-color: #efefef;
  border-bottom: none;
 
}
 .tableone .fl-table tr td:nth-of-type(odd) {
  border-left: none;
  border-right: none;
 
}
  
  
  table {
      border-collapse: collapse;
      border-bottom: 1px solid black;
    }
    th, td {
      border: 1px solid black;
      padding: 5px;
    }
    
  .table{
      position: relative;
  }
  .red{
    color: red;
  }
  .total{
    min-height: 80px;
    height: 80px;
    background-color: #427da4;
    color: #fbdf56;
  }
  .total td{
  font-size: 23px;
    font-weight: bold;
    border-top: 4px solid #3b5714;
}